@import "bootstrap";

body {
  background: image_url('dust_scratches.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.show_display_box {
  background: image_url('dust_scratches.png');
  margin: auto;
  max-width: 630px;
  background: #fff;
  padding: 10px 40px 50px;
}

.show-title {
  text-align: center;
}