<div class="show_display_box">
<h1>Thanks for the submission!</h1>
<h2>Here are some other people's Faves!</h2><br />
<h3><%= @show.title %></h3>

<%= link_to 'Another?', show_path, class: 'btn btn-primary' %>
<br />
<br />

<%= link_to 'Back to Home', root_path, class: 'btn btn-info' %>
</div>